<ActionBar title="Contact Us" class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
</ActionBar>
<ScrollView orientation="vertical">
    <GridLayout class="m-5" rows="auto, auto" cols="auto">
        <StackLayout row="0" class="p-10 border">
            <Label height="40" class="p-10 m-t-10 h3" text="Contact Information"></Label>
            <Label class="p-10 m-t-10 body" text="
            121, Clear Water Bay Road
            Clear Water Bay, Kowloon
            HONG KONG
            Tel: +852 1234 5678
            Fax: +852 8765 4321
            Email:confusion@food.net" textWrap="true"></Label>
        </StackLayout>
        <GridLayout row="1" orientation="horizontal" rows="*" columns="*, *" class="m-t-20">
            <Button row="0" col="0" [text]="('fa-phone' | fonticon) + ' Call'" class="btn btn-rounded-sm btn-outline no-border fa" (tap)="callRestaurant()"></Button>
            <Button row="0" col="1" [text]="('fa-envelope-o' | fonticon) + ' Email'" class="btn btn-rounded-sm btn-outline no-border fa" (tap)="sendEmail()"></Button>
        </GridLayout> 
    </GridLayout>
</ScrollView>