<ActionBar title="Dish Details" class="action-bar">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
    <ActionItem ios.systemIcon="9" android.systemIcon="ic_menu_more" ios.position="right" android.position="right"
        (tap)="openActionDialog($event)"></ActionItem>
</ActionBar>
    <GridLayout class="m-5" rows="auto auto auto" *ngIf="dish" (swipe)="onSwipe($event)">
        <StackLayout id="cardLayout" row="0" class="p-10 border">
            <Image id="cardImage" [src]="baseURL + dish.image" [visibility]="!(showComments) ? 'visible' : 'collapsed'"></Image>
            <StackLayout>
                <Label class="h2" [text]="dish.name"></Label>
                <Label class="body" [text]="dish.description" textWrap="true"></Label>
            </StackLayout>
            <GridLayout orientation="horizontal" rows="*" columns="*, *, *" class="m-t-20">
                <Button row="0" col="0" [text]="avgstars + ' stars'" class="btn btn-rounded-sm btn-outline no-border"></Button>
                <Button row="0" col="1" [text]="numcomments + ' comments'" class="btn btn-rounded-sm btn-outline no-border"
                    (tap)="showAndHideComments()"></Button>
                <Button row="0" col="2" [text]="(favorite ? 'fa-heart' : 'fa-heart-o') | fonticon" class="btn btn-rounded-sm btn-outline no-border fa" (tap)="addToFavorites()"></Button>
            </GridLayout>
        </StackLayout>
        <Label row="1" height="40" class="p-10 m-t-10 h3" text="Comments"></Label>
        <ListView ide="commentList" row="2" height="{{dish.comments.length*100}}" [items]="dish.comments" class="list-group p-10"
            [visibility]="showComments ? 'visible' : 'collapsed'">
            <ng-template let-comment="item">
                <StackLayout class="list-group-item">
                    <Label class="list-group-item-heading" [text]="comment.comment" textWrap="true"></Label>
                    <StackLayout orientation="horizontal">
                        <Label class="list-group-item-text" [text]="comment.rating"></Label>
                        <Label class="list-group-item-text" [text]=" Stars"></Label>
                    </StackLayout>
                    <StackLayout orientation="horizontal">
                        <Label class="list-group-item-text" [text]="'-- ' + comment.author + ', '"></Label>
                        <Label class="list-group-item-text" [text]="comment.date | date"></Label>
                    </StackLayout>
                </StackLayout>
            </ng-template>
        </ListView> 
    </GridLayout>
    <ActivityIndicator busy="true"  *ngIf="!(dish || errMess)" width="50" height="50" class="activity-indicator"></ActivityIndicator>
    <Label *ngIf="errMess" [text]="'Error: ' + errMess"></Label>