<ActionBar title="About Us" class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
</ActionBar>
    <ScrollView orientation="vertical">
        <GridLayout class="m-5" rows="auto auto *" cols="*">
            <StackLayout orientation="vertical" row="0" class="p-10 border">
                <Label height="40" class="p-10 m-t-10 h3" text="Our History"></Label>
                <Label class="p-10 m-t-10 body" text="            
                Started in 2010, Ristorante con Fusion quickly established itself as a culinary icon par excellence in Hong Kong. With its unique brand of world fusion cuisine that can be found nowhere else, it enjoys patronage from the A-list clientele in Hong Kong.  Featuring four of the best three-star Michelin chefs in the world, you never know what will arrive on your plate the next time you visit us.
                
                The restaurant traces its humble beginnings to The Frying Pan, a successful chain started by our CEO, Mr. Peter Pan, that featured for the first time the world's best cuisines in a pan." 
                textWrap="true"></Label>
            </StackLayout>
            <Label row="1" text="Corporate Leadership" height="40" class="p-10 m-t-10 h3"></Label>
            <ListView row="2" [items]="leaders" height="{{leaders.length*350}}" class="list-group" *ngIf="leaders">
                <ng-template let-leader="item">
                    <StackLayout orientation="horizontal" class="list-group-item">
                        <Image row="0" col="0" rowSpan="3" height="108" width="108" [src]="baseURL + leader.image" class="img-circle"></Image>
                        <GridLayout class="list-group-item" rows="auto auto *" columns="*">
                            <Label row="0" col="0" [text]="leader.name" class="list-group-item-heading"></Label>
                            <Label row="1" col="0" class="list-group-item-text" [text]="leader.designation"></Label>   
                            <Label row="2" col="0" class="list-group-item-text m-t-5" [text]="leader.description" textWrap="true"></Label>   
                        </GridLayout>
                    </StackLayout>
                </ng-template>
            </ListView>
            <ActivityIndicator row="2" busy="true"  *ngIf="!(leaders || errMess)" width="50" height="50" class="activity-indicator"></ActivityIndicator>
            <Label row="2" *ngIf="errMess" [text]="'Error: ' + errMess"></Label>
        </GridLayout>
    </ScrollView>