<ActionBar title="Reserve Table" class="action-bar">
        <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
        <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
            ios.position="left">
        </ActionItem>
        <NavigationButton android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
</ActionBar>
<StackLayout orientation="vertical" tkMainContent>
    <GridLayout id="reserveView" class="m-5" rows="auto auto auto auto" columns="*, *" [formGroup]="reservation" [visibility]="!(showAfterSubmit) ? 'visible' : 'collapsed'">
        <Label class="h3 m-15" row="0" col="0" text="No. of Guests" textWrap="true"></Label>
        <TextField class="input input-border" id="textGuests" hint="Enter Number of Guests" [text]=''
            (tap)="createModalView('guest')"
            (textChange)="onGuestChange($event)" row="0" col="1" formControlName="guests"></TextField>
        <Label class="h3 m-15" row="1" col="0" text="Smoking?" textWrap="true"></Label>
        <Switch class="m-15" checked="false"
            (checkedChange)="onSmokingChecked($event)" row="1" col="1" formControlName="smoking"></Switch>
        <Label class="h3 m-15" row="2" col="0" text="Date and Time" textWrap="true"></Label>
        <TextField class="input input-border" id="textDateTime"
            hint="Enter Date and Time" [text]=''
            (textChange)="onDateTimeChange($event)" (tap)="createModalView('date-time')"
            row="2" col="1" formControlName="dateTime"></TextField>
        <Button class="btn btn-primary btn-active m-15" row="3" col="0"
            text="Submit" (tap)="onSubmit()"></Button>
    </GridLayout>
    <GridLayout  id="afterSubmit" class="m-5" rows="auto auto auto" columns="*,*" [visibility]="showAfterSubmit ? 'visible' : 'collapsed'">
        <Label row="0" col="0" class="h3 m-15" text="No. of Guests" textWrap="true"></Label>
        <Label row="0" col="1" class="h3 m-15" text="{{reservation.value.guests}}" textWrap="true"></Label>
        <Label row="1" col="0" class="h3 m-15" text="Smoking" textWrap="true"></Label>
        <Label row="1" col="1" class="h3 m-15" text="{{reservation.value.smoking}}" textWrap="true"></Label>
        <Label row="2" col="0" class="h3 m-15" text="Date and Time" textWrap="true"></Label>
        <Label row="2" col="1" class="h3 m-15" text="{{reservation.value.dateTime | date: 'medium'}}" textWrap="true"></Label>
    </GridLayout>
</StackLayout>